<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.palmble.dal.UserPermissionMapper" >
  <resultMap id="BaseResultMap" type="com.palmble.entity.UserPermission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="group_or_user_id" property="groupOrUserId" jdbcType="INTEGER" />
    <result column="privilege_id" property="privilegeId" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="privilege_url" property="privilegeUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, group_or_user_id, privilege_id, state,privilege_url
  </sql>
  <select id="selectByGroupOrUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_permission
    where group_or_user_id = #{groupOrUserId,jdbcType=INTEGER}
  </select>
  <select id="selectPrivilegeUrlByGroupOrUserId" resultType="string" parameterType="java.lang.Integer" >
    select 
    privilege_url
    from user_permission
    where group_or_user_id = #{groupOrUserId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.palmble.entity.UserPermission" >
    insert into user_permission (id, group_or_user_id, privilege_id, 
      state,privilege_url)
    values (#{id,jdbcType=INTEGER}, #{groupOrUserId,jdbcType=INTEGER}, #{privilegeId,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER},#{privilegeUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.palmble.entity.UserPermission" >
    insert into user_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="groupOrUserId != null" >
        group_or_user_id,
      </if>
      <if test="privilegeId != null" >
        privilege_id,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="privilegeUrl != null" >
        privilege_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupOrUserId != null" >
        #{groupOrUserId,jdbcType=INTEGER},
      </if>
      <if test="privilegeId != null" >
        #{privilegeId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="privilegeUrl != null" >
        #{privilegeUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.palmble.entity.UserPermission" >
    update user_permission
    <set >
      <if test="groupOrUserId != null" >
        group_or_user_id = #{groupOrUserId,jdbcType=INTEGER},
      </if>
      <if test="privilegeId != null" >
        privilege_id = #{privilegeId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="privilegeUrl != null" >
        privilege_url=#{privilegeUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.palmble.entity.UserPermission" >
    update user_permission
    set group_or_user_id = #{groupOrUserId,jdbcType=INTEGER},
      privilege_id = #{privilegeId,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      privilege=#{privilegeUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>