<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.palmble.dal.ZsGoodsSkuMapper" >
  <resultMap id="BaseResultMap" type="com.palmble.entity.ZsGoodsSku" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goodsId" property="goodsId" jdbcType="INTEGER" />
    <result column="skuAttrIds" property="skuAttrIds" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goodsId, skuAttrIds
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zs_goods_sku
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zs_goods_sku
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.palmble.entity.ZsGoodsSku" >
    insert into zs_goods_sku (id, goodsId, skuAttrIds
      )
    values (#{id,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{skuAttrIds,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.palmble.entity.ZsGoodsSku" >
    insert into zs_goods_sku
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsId != null" >
        goodsId,
      </if>
      <if test="skuAttrIds != null" >
        skuAttrIds,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="skuAttrIds != null" >
        #{skuAttrIds,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.palmble.entity.ZsGoodsSku" >
    update zs_goods_sku
    <set >
      <if test="goodsId != null" >
        goodsId = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="skuAttrIds != null" >
        skuAttrIds = #{skuAttrIds,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.palmble.entity.ZsGoodsSku" >
    update zs_goods_sku
    set goodsId = #{goodsId,jdbcType=INTEGER},
      skuAttrIds = #{skuAttrIds,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectGoodsSkuList" resultType="java.util.Map">
     SELECT * FROM  zs_goods_sku_attr zsk WHERE 1=1  
       <if test="skuId!=null"> and zsk.id=#{skuId}</if>
       <if test="goodsCateId!=null"> and zsk.cateId=#{goodsCateId}</if>
       <if test="sord!=null"> order by zsk.id #{sord}</if>
       <if test="page!=null and rows!=null"> limit #{page},#{rows} </if>
  </select>
  <select id="selectGoodsSkuCount" resultType="INTEGER">
       SELECT count(1) FROM  zs_goods_sku_attr zsk WHERE 1=1  
       <if test="skuId!=null"> and zsk.id=#{skuId}</if>
       <if test="goodsCateId!=null"> and zsk.cateId=#{goodsCateId}</if>
  </select>
  <select id="selectSkuAttrBySkuId" resultType="STRING">
       SELECT
			zg.attrValue
		FROM
			zs_goods_sku_attr zk
		LEFT JOIN zs_goods_sku_attrvalue zg ON zk.id = zg.skuAttrId
		WHERE
			zk.id = #{skId}
  </select>
</mapper>